<style>
  .container-message {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="container-message">
<p>Olá, {{name}}</p>
<p>Acho que alguém esqueceu a senha, hein?</p>
<p>Se foi voce, fique tranquilo que o link para escolher uma nova senha, segue logo abaixo:</p>
<p>
  <a href="{{link}}">Resetar minha senha</a>
  <p>Token: {{ token }}</p>
</p>
<p>Se não foi voce, fica tranquilão e esquece esse email.</p>
<p>
  Obrigado <br/>
  <strong>Equipe Creative Code</strong>
</p>
</div>
